  
/** polices **/
@import url(https://fonts.googleapis.com/css?family=Space+Mono);

body {
  background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/debfab09-22c5-4345-a4cf-228002defab9/d8mokzb-1b7a5f7e-d322-436d-a48a-78427902bf1d.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwic3ViIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsImF1ZCI6WyJ1cm46c2VydmljZTpmaWxlLmRvd25sb2FkIl0sIm9iaiI6W1t7InBhdGgiOiIvZi9kZWJmYWIwOS0yMmM1LTQzNDUtYTRjZi0yMjgwMDJkZWZhYjkvZDhtb2t6Yi0xYjdhNWY3ZS1kMzIyLTQzNmQtYTQ4YS03ODQyNzkwMmJmMWQuZ2lmIn1dXX0.VwnY1BCF3Dr6vvkJ6-OsXIvLkn7C5dPH4AR7oqDgDhw);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: rgb(27, 27, 27);
  font-family: 'Space Mono', cursive;

  /** permet de centrer les éléments dans la page **/
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/** l'image fait toujours la même hauteur **/
img{
  margin: 40px;
  border: 10px solid #ffffff;
  padding: 0 px;
  height: 40vh;
  width: auto;
}
/** Title size **/
h1,h2{
  max-width: 800px;
  line-height: 1.5;
}


h1{
  font-size: 30px;
}
h2{
  font-size: 20px;
}


/** Mon bouton **/
.btn {
	box-shadow:inset 0px -1px 0px -50px #000000;
	background:linear-gradient(to bottom, #d6d6d6 5%, #ffffff 100%);
	background-color:#999999;
	border-radius:3px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:"Space Mono";
	font-size:16px;
	font-weight:bold;
	padding:2px 44px;
	text-decoration:none;
	text-shadow:0px 0px 1px #ffffff;
}
  

.btn:hover {
	background:linear-gradient(to bottom, #ffffff 5%, #e6e6e6 100%);
	background-color:#ffffff;
}
.btn:active {
	position:relative;
	top:5px;
}
/** liste de boutons **/
.btns-list{
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  justify-content: center;
}
.btn{
  margin: 15px;
}



/** Animation 1 **/
h1,
h2 {
  animation-name: fade-in;
  animation-duration: 2s;
}

/** Clignottement du sous titre **/ 
h2 {
  animation-iteration-count: infinite;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/** Animation d'origine inconnu et de fonction inconnu jusqu'à ce jour **/
.yeah{
  animation: yeah;
  animation-duration: 10s;
}
@keyframes yeah{
  0%{
    transform:rotate(-600deg) scale(0) rotateY(180deg)
  }
  100%{
    transform: rotate(0deg) scale(1);
  }
}