  
/** import de polices **/
@import url(https://fonts.googleapis.com/css?family=Krona+One);

body {
  background: url(https://media.giphy.com/media/l4FGE5EZOqikBWaqc/giphy.gif);
  background-repeat: repeat;
  color: rgb(191, 255, 247);
  font-family: 'Krona One', cursive;

  /** permet de centrer les éléments dans la page **/
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/** l'image fait toujours la même hauteur **/
img{
  margin: 40px;
  border: 10px solid #27cbfd;
  padding: 10px;
  height: 40vh;
  width: auto;
}
/** les titres ne sont pas trop grands **/
h1,h2{
  max-width: 800px;
  line-height: 1.5;
}


h1{
  font-size: 30px;
}
h2{
  font-size: 20px;
}


/** boutons **/
.btn {
	box-shadow:inset -6px -5px 0px -2px #5f0077;
    background:linear-gradient(to bottom, #77fff8 5%,#50bfff 100%);
	background-color:#64c1ff;
	border:5px solid#000000;
	display:inline-block;
	cursor:pointer;
    color:#12447c;
	font-family:"Krona One";
	font-size:17px;
	font-weight:bold;
	padding:5px 47px;
	text-decoration:none;
	text-shadow:1px 0px 0px#af00af;
  
}
.btn:hover {
	background:linear-gradient(to bottom, #007ec7 1%, #4698e6 100%);
	background-color:#68a54b;
}
.btn:active {
	position:relative;
	top:1px;
}
/** liste de boutons **/
.btns-list{
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  justify-content: center;
}
.btn{
  margin: 15px;
}



/** faire bouger un peu tout ça **/
h1,
h2 {
  animation-name: fade-in;
  animation-duration: 1s;
}

/** faire clignotter le sous titre **/ 
h2 {
  animation-iteration-count: infinite;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/** une animation de très bon goût **/
.yeah{
  animation: yeah 3s ease-out;
}
@keyframes yeah{
  0%{
    transform:rotate(-600deg) scale(0) rotateY(180deg)
  }
  100%{
    transform: rotate(0deg) scale(1);
  }
}